# See http://help.github.com/ignore-files/ for more about ignoring files.


__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
static/
miglig/local_setting.py
/miglig/local_setting.py
