# See http://help.github.com/ignore-files/ for more about ignoring files.


#miglig/__pycache__
#miglig/local_setting
#requirements.txt

miglig.sock
static/

/miglig/__pycache__
/miglig/local_setting
requirements.txt
.gitignore
__pycache__
__pycache__/
/__pycache__/
*/__pycache__
*/__pycache__/
*./__pycache__/

*/__pycache__/*


